<thead>
	<tr>
		<th></th>
	</tr>
</thead>

<tbody>
	<!-- Table Body Goes here -->
</tbody>

<tfoot>
	<tr>
		<td>
			<input type="checkbox" class="preventDups" name="preventDups" {{#if preventDuplicates}} checked {{/if}} />No Buy Backs
		</td>
		<td></td>
		<td></td>


		<td></td>
		<td>
			<button class="shuffleButton">Reshuffle</button>
		</td>
	</tr>
</tfoot>

   