
<td> {{name.first}} {{name.last}} </td>
<td>&nbsp;</td>
<td> buys for </td>
<td>&nbsp;</td>
{{#if buysFor}}
<td id="{{buysFor.guid}}"> {{ buysFor.name.first }} {{ buysFor.name.last }} </td>
{{/if}}

